* {
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-offset-shadow: 00 #0000;
  --tw-ring-shadow: 00 #0000;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
}

/* @font-face {
  src: url(/assets/fonts/ProductSans-Regular.woff2);
  font-family: "product sans";
} */

/* Body Styles */
body {
  --tw-text-opacity: 1;
  background-color: rgb(239 246 255);
  max-width: 100%;
  font-family: "product sans", sans-serif;
  font-weight: 400;
  line-height: inherit;
  transition: all 0.25s;
  font-size: 1.125rem;
}

.my-overflow {
  overflow-x: hidden;
}

.tex-propt {
  color: rgb(35, 55, 76);
}

/* body styles end */
/* NAV Starts */
@media (min-width: 980px) {
  .my-lg-slate {
    border-color: rgb(100 116 139 / 0.1);
    border-bottom-width: 1px;
    z-index: 50;
  }
}

@media (min-width: 360px) {
  .my-xs-px {
    padding-right: 0;
    padding-left: 0;
  }
}

.my-duration {
  transition-duration: 500ms;
}

.my-duration-colors {
  transition-property: color, background-color, BORDER-COLOR,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.my-backdrop {
  --tw-backdrop-blur: blur(8px);
  backdrop-filter: var(--tw-backdrop-blur);
}

.my-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-bg-white {
  background-color: rgb(255 255 255 / 0.5);
}

.my-w-full {
  width: 100%;
}

.my-top-0 {
  top: 0px;
}

.sticky {
  position: sticky;
}

.my-nav-menu {
  height: 90px;
}

@media (min-width: 980px) {
  .my-lg {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.jstify-between {
  justify-content: space-between;
}

.displa-flex {
  display: flex;
}

#logo {
  transition: 0.25s;
  font-weight: 700;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.dmenu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.flewx {
  display: flex;
}

.my-text-white {
  color: rgb(255 255 255);
}

.my-bg-slate {
  background-color: rgb(71 85 105);
}

@media (min-width: 640px) {
  .my-nav-contact-button {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
  }
}

.my-nav-contact-button {
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
}

.fill-current {
  fill: currentColor;
}

.inline-block {
  display: inline-block;
}

.mr-1 {
  margin-right: 0.25rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

svg,
img {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .my-md-w4 {
    width: 3.35rem;
  }
}
@media (min-width: 768px) {
  .my-h4 {
    height: 3.5rem;
  }
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.switch {
  position: absolute;
  width: 1px;
  margin: -1px;
}

@media (min-width: 768px) {
  .md\:w-6 {
    width: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:h-6 {
    height: 1.5rem;
  }
}

.stroke-sky-500 {
  stroke: #0ea5e9;
}

@media (min-width: 768px) {
  .md\:w-6 {
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md\:h-6 {
    height: 1.5rem;
  }
}
.hidden {
  display: none;
}
/* Nav Ends */
/* MAIN style */
@media (min-width: 980px) {
  .my-min-class {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
/* MAain ends */
/* First section  tag   */
@media (min-width: 360px) {
  .my-sec-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.my-class-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .my-max-width {
    max-width: 1440px;
  }
}

.contain {
  width: 100%;
}

/* First section tag ends */
/*  First Div under first section starts */

@media (min-width: 980px) {
  .my-div-first {
    width: 75%;
  }
}

/* First Div under first section ends */
/* Second div under first section starts */
@media (min-width: 980px) {
  .my-div-sec {
    padding-bottom: 2rem;
  }
}

.lg\:pt-10 {
  padding-top: 2.5rem;
}

/* Second div under first section ends */
/* Third div under first Section starts */
@media (min-width: 768px) {
  .items-baseline {
    align-items: baseline;
  }
}

.my-mt-5 {
  margin-top: 2.25rem;
}

/* Third div under first Section ends */

/* Fourth div under first section starts */
/* Paragraph under fourth Div starts */
.my-first-p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.my-sec-p {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

p {
  letter-spacing: 0.01rem;
}
/* Img under fourth div starts */
.my-imhg-class {
  background-color: rgb(254 215 170);
}

.my-serc-img-class {
  border-radius: 9999px;
}
.my-third-img {
  max-width: auto;
  height: auto;
}

/* Img under fourth div starts */

/* h1 starts */
@media (min-width: 980px) {
  .my-h1-head {
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 980px) {
  .mr-third-div {
    margin-top: 1rem;
  }
}

@media (min-width: 980px) {
  .brg {
    margin-bottom: 0.5rem;
  }
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.font-weight {
  font-weight: 700;
}

/* h1 ends */

/* Fifth div under section  */

.sec-div-passion {
  font-weight: 500;
}

.pt-22 {
  padding-top: 0.5rem;
}

/* Last div under first section starts */
@media (min-width: 768px) {
  .my-first-sendmail {
    display: none;
  }
}

.mt-4 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.bg-sky-600 {
  background-color: rgb(2 132 199);
}

/* Last div under first section ends */

/* 2nd section starts */
@media (min-width: 360px) {
  .my-sec-section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.feat-wrap {
  letter-spacing: -0.025em;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  position: relative;
}

/* 1st div under 2nd section starts */

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.relative {
  position: relative;
}
/* 1st div under 2nd section ends */
/* First h3 in second section starts */
.my-lg-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 768px) {
  .my-mb {
    margin-bottom: 1rem;
  }
}
.tracking-normal {
  letter-spacing: 0em;
}
/* h3 ends  */
/* 2nd div under 2nd section starts */

@media (min-width: 980px) {
  .lg-gap-4 {
    gap: 3.5rem;
  }
}
@media (min-width: 980px) {
  .lg-grid-row-2 {
    grid-template-columns: repeat(2, minmax(0 1fr));
  }
}
.grid {
  display: grid;
}

/* 3rd div under second section starts */
@media (min-width: 980px) {
  .lg-h-96 {
    height: 24rem;
  }
}
@media (min-width: 980px) {
  .grid-rowme {
    grid-row: span 1 / span 1;
  }
}

/* 3rd div under second section ends */
/* 4th div under second section starts */
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  /* --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color); */
}

.shadow-lg:hover {
  box-shadow: 0 10px 15px -5px rgb(0 0 0 / 0.05),
    0 4px 7px -4px rgb(0 0 0 / 0.1);
}

.index-project-card {
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
/*  4th div under second section ends */
/* 5th div under second Ssection starts */

@media (min-width: 980px) {
  .lggrid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media (min-width: 760px) {
  .md-gap-4 {
    gap: 1rem;
  }
}

.my-h-full {
  height: 100%;
}
/* 5th div under second Section ends */
/*  6th div under second Section starts */
@media (min-width: 980px) {
  .my-media-1 {
    grid-column: 2;
  }
}

@media (min-width: 980px) {
  .my-colspan-6 {
    grid-column: span 6 / span 6;
  }
}

/* Payforce-h2 starts */
@media (min-width: 980px) {
  .my-lg {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 760px) {
  .my-lg-2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* p starts */
@media (min-width: 760px) {
  .lgtext-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 980px) {
  .my-medi {
    background-position: right;
  }
}

.bg-cover {
  background-size: cover;
}

.heigf {
  background-repeat: no-repeat;
}

.project-photo {
  transform: rotate(-4deg) scale(1.2) translate(30px 40px);
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Faaantaxi div starts */
.pt-11 {
  padding-bottom: 2.75rem;
}

.pb-11 {
  padding-top: 2.75rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

/* Third Section starts */
.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .md-gap-8 {
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .md-grid-col3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.pt-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-5 {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}

.py-5 {
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}
.shadow-2x1 {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.rounded-3x1 {
  border-radius: 1.5rem;
}

.text-2x1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.py-me {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.list-disc {
  list-style-type: disc;
}

ul {
  margin: 0;
}

.pppb-1 {
  padding-bottom: 0.25rem;
}

.text-orange-400 {
  color: rgb(251 146 60);
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.text-decoration-400 {
  text-decoration-color: #fb923c;
}
.text-decoration-line {
  text-decoration-line: underline;
}

/* Footer begins */
.pt-20 {
  padding-top: 5rem;
}

.bg-gray-50 {
  background-color: rgb(249 250 251);
}

@media (min-width: 768px) {
  .md-text-6x1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.font-black {
  font-weight: 900;
}

.footer-text {
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition: opacity 500ms ease 0s,
    transform 600ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 20px;
}

.text-gray-500 {
  color: rgb(107 114 128);
}

@media (min-width: 480px) {
  .md-text-xl {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}

.my-margin-space {
  margin-right: 0.75rem;
  display: inline-block;
}

.md-2x1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hover-orange:hover {
  color: rgb(251 146 60);
}
